<div id="page-wrapper">
  <h1>添加物濃度 - <%= Choices[@kind] %></h1>
  <form action='food_concentration/result' method='post'>    
    <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
      <% times = 0 %>
      <% @full_food.each do |food, food_list| %>
      <tr>
        <% times += 1 %>
        <%= erb :food_partial, locals: { food_list: food_list, times: times } %>
      </tr>
      <% end %>
    </div>
    <button type='submit' class='btn btn-primary btn-lg'>完成</button>
  </form>
</div>
