<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">TFAIM <small>簡介</small></h1>
            </div>
        </div>
         <div class="jumbotron">
            <h1>Hell, Tfaim!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-lg" role="button">登入使用 &raquo;</a>
            </p>
        </div>
    </div>
</div>



