<div class="jumbotron"> 
  <div class="container"> 
    <h1>添加物暴露量計算表</h1> 
    <p>此系統將brabrabrabrabrabrabrabrabra</p> 
    <p><a class="btn btn-primary btn-lg" href="user-choice" role="button">一般使用者</a></p>
    <p><a class="btn btn-primary btn-lg" href="manager-choice" role="button">管理者</a></p>
  </div> 
</div>