<style>
  .answer {
    margin-left: 35px;
  }
</style>

<div id="page-wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">使用說明</h1>
    </div>
    <div class="panel-body">
      <p><h2>Q.第一次使用?</h2></p>
      <p class="answer">
        請檢附廠商／業者名稱、廠商／業者地址、及食品業者登錄字號等基本資料，寄至abc123@gmail.com提出使用申請，須經審核通過，方可使用。
      </p>
    </div>
  </div>
</div>