<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TFAIM</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/plugins/morris.css" rel="stylesheet">

    <style rel="stylesheet/css">
        .navbar-inverse {
            background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 0%);
        }
    </style>
</head>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Taiwan Food Additive Intake Model</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav side-nav">
          <li>
            <a href="/"><i class="glyphicon glyphicon-info-sign"></i> TFAIM 簡介</a>
          </li>
          <li>
            <a href="/intro"><i class="glyphicon glyphicon-question-sign"></i> 使用說明</a>
          </li>
          <li>
            <a href="/user_login"><i class="glyphicon glyphicon-user"></i> 使用者登入</a>
          </li>
          <li>
            <a href="/manager_login"><i class="glyphicon glyphicon-cog"></i> 管理者登入</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>