<style>
.container-fluid {
  width: 400px;
  margin: 0 auto;
}

.food-button {
  font-size: 24px;
}
</style>

<div id="page-wrapper">
  <div class="container-fluid">
    <h1>輸入添加物ADI (mg/kg-bw/day)</h1>
    <form action="/input_choice" class="form foods-form" method="post" role="form">
      <div class="form-group">
        <div class="col-md-4">
          <input type="number" value="0" min=0 name="additives" class="form-control" step="0.01">
        </div>
          <button type="submit" class="btn btn-primary" name="subject" value="next">下一步</button>
      </div>
    </form>
  </div>
</div>