<style>
.container-fluid {
  width: 400px;
  margin: 0 auto;
}

.foods-form {
  font-size: 20px;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 3px;
  margin-right: 10px;
}
</style>

<div id="page-wrapper">
  <div class="container-fluid">
    <form action="/" class="foods-form">
      <input type="checkbox" value="1.0">乳及乳製品<br>
      <input type="checkbox" value="2.0">脂肪、油及乳化脂肪製品<br>
      <input type="submit" value="Submit"  class="btn btn-primary">
    </form> 
  </div>
</div>