<style>
.container-fluid {
  width: 400px;
  margin: 0 auto;
}

.foods-form {
  font-size: 20px;
}

input[type=checkbox] {
  width: 20px;
  height: 15px;
}
</style>


<% times = 0 %>
<div id="page-wrapper">
  <div class="container">
    <h1>選擇食品種類</h1>
    <form action="/result" class="form foods-form" method="post" role="form">
      <div class="form-group">
        <% @food_list.each_with_index do |list, index| %>
        <div class="row">
          <div class="col-md-6 checkbox">
            <input type="checkbox" class="food-check" id="<%= index %>"><%= list %>
          </div>
          <div class="col-md-4">
            <input type="number" value="0" min=0 name="<%= "#{times += 1}_#{index + 1}" %>" class="form-control" id="<%= index %>-input" disabled="disabled" step="0.01">    
          </div>
        </div>
        <% end %>
        <div class="col-md-8">
          <a href="/food_choice" class="btn btn-info">上一步</a>
          <button type="submit" class="btn btn-primary">下一步</button>  
        </div>
      </div>
    </form> 
  </div>
</div>

<script type="text/javascript">
$(".food-check").click(function () {
  input_id = "#" + this.id + "-input"
  if (this.checked) {
    $(input_id).prop('disabled', false).focus();
  } else {
    $(input_id).prop('disabled', true).val("0");
  }
});
</script>