<style>
.container-fluid {
  width: 400px;
  margin: 0 auto;
}

.food-button {
  font-size: 24px;
  border-radius: 12px;
  margin: 0 auto;
}

.btn {
  margin: 10px;
}
</style>

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="clo-md-4">
      <h1>輸入資料方式</h1>
      <div class="row">
        <a href="/food_choice" class="btn btn-default food-button">手動輸入</a>
        <a href="/food_upload" class="btn btn-default food-button">多筆匯入</a>        
      </div>
      <a href="/user_choice" class="btn btn-info">上一步</a>
    </div>    
  </div>
</div>