<div id="page-wrapper">
  <div class="container">
    <h1><center>計算結果</center></h1>
    <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="Justified button group"> 
      <a href="#" class="btn btn-default">
        暴露量(EDI)(單位：mg/kg bw/day)
      </a>
      <a href="#" class="btn btn-default">
        風險評估(%ADI)(單位：無)
      </a>
    <div class="btn-group btn-group-lg" role="group"> 
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
        各食品類別貢獻的%ADI <span class="caret"></span> 
      </button> 
      <ul class="dropdown-menu btn-group-lg" role="menu"> 
        <li><a href="#">嬰兒(0-11月)</a></li> 
        <li><a href="#">幼兒(12-35月)</a></li> 
        <li><a href="#">孩童(3-9歲)</a></li> 
        <li><a href="#">青少年(10-17歲)</a></li> 
        <li><a href="#">成年人(18-64歲)</a></li> 
        <li><a href="#">老年人(65-75歲)</a></li> 
        <li><a href="#">高齡老年人(75+歲)</a></li> 
      </ul> 
    </div>
    </div>
  </div>
</div>