<style>
.container-fluid {
  width: 400px;
  margin: 0 auto;
}

.food-button {
  font-size: 24px;
}

.btn {
  margin: 10px;
}
</style>

<div id="page-wrapper">
  <div class="container-fluid">
    <h1>選擇添加物</h1>
    <div class="row">
      <a href="/input_choice" class="btn btn-default food-button">苯甲酸</a>    
    </div>
  </div>
</div>