<h1>添加物名稱</h1>
<form action='food_concentration' method='post'>
  <ul class='unstyled'>
    <% Choices.each do |id, text| %>
      <li>
        <label class='radio'>
          <input type='radio' name='kind' value='<%= id %>' id='kind_<%= id %>' checked="ture"/>
          <%= text %>
        </label>
      </li>
    <% end %>
  </ul>
</form>
